# All of these files are dependencies you need to install or created when compiling
depends/*
obj/*
include/*
NaiBrain
f.bmp

!include/GL/.gitkeep
!include/glm/.gitkeep
!include/libfreenect2/.gitkeep
!depends/libusb/.gitkeep
